{
    "TELEGRAM_BOT_TOKEN" : "123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "TELEGRAM_BOT_ADMINS" : {
        "123456789" : "HETZNER_X_KEY",
        "987654321" : "HETZNER_Y_KEY",
        "456987123" : "HETZNER_X_KEY",
    }
}
